html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

pre {
  margin: 0; }

#wrapper {
  position: relative;
  border: 5px solid black;
  background-color: black;
  width: 97%; }

/*.about-dialog-box { 
  width: 100%;
  height: 200px;
  border: 1% solid #000;
  border-bottom: 20px solid $background-color;
  background-color: $about-background-color;
  
  span{
    position: absolute;
    border: 2px solid #000;
    display: block;
    width: 10%;
    font-size: 2em;
    text-align: center;
    right: 0px;
  }

}
*/
.code {
  font-size: 140%;
  width: 100%; }
  .code .linenums {
    padding-left: 5%; }

@media (max-width: 900px) {
  .code {
    font-size: 120%; } }
@media (max-width: 815px) {
  .code {
    font-size: 100%; } }
@media (max-width: 666px) {
  .code {
    font-size: 80%; } }
@media (max-width: 485px) {
  .code {
    font-size: 60%; } }
